body {
    margin: 0;
}

.main {
    padding-left: 50px;
}
h1 {
    
    font-size: 3em;
    text-decoration: underline;
    padding-bottom: 75px;
    padding-top:25px;
}

h2 {
    font-size: 2em;
}
.title {
    font-size: 1.1em;
}

input {
    font-size: 1.2em;
    padding:5px;
    vertical-align: text-top;
}

input[type=submit] {
    padding:10px 25px; 
    background:rgb(154, 192, 153); 
    border:0 none;
    cursor:pointer;
    border-radius: 8px; 
}


form {
    display: flex;
    padding-bottom: 50px;
    
}

.detail1 {
    flex: 1;
}

.detail2 {
    flex: 2;
}

/* Footer */

.footer {
    background: lightgray;
    padding: 10px;
}
ul {
    list-style-type: none;
}



#ftr-wrap {
    display: flex;
    flex-direction: row;
    
   
}

.col {
    flex: 1;
   
}

.copyright {
    text-align: center;
}